* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #e9fbff, #ffffff);
  color: #123;
}

.hero {
  min-height: 280px;
  text-align: center;
  padding: 40px 20px;
  background:
    linear-gradient(rgba(0,150,200,.45), rgba(0,80,150,.55)),
    url("images/piscina.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.hero h2 {
  font-family: cursive;
  font-size: 45px;
  font-weight: normal;
}

.hero h1 {
  font-size: 58px;
  letter-spacing: 4px;
  color: #ffffff;
  text-shadow: 2px 3px 8px #003b73;
}

.hero p {
  margin-top: 10px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.sun {
  font-size: 65px;
  margin-bottom: 10px;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 15px;
  background: #00bcd4;
  position: sticky;
  top: 0;
  z-index: 10;
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  background: #0077b6;
  padding: 10px 14px;
  border-radius: 25px;
}

.banner {
  margin: 20px;
  padding: 25px;
  text-align: center;
  border-radius: 25px;
  background: linear-gradient(135deg, #ffe66d, #4ecdc4);
  color: #003b73;
  box-shadow: 0 8px 20px rgba(0,0,0,.15);
}

.banner h2 {
  font-size: 28px;
  margin-bottom: 8px;
}

.categoria {
  margin: 25px auto;
  padding: 20px;
  max-width: 950px;
}

.categoria h2 {
  color: #0057b8;
  font-size: 30px;
  margin-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
}

.card {
  display: flex;
  gap: 18px;
  align-items: center;
  background: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 25px;
  border: 3px solid #51d6e8;
  box-shadow: 0 8px 22px rgba(0,0,0,.12);
}

.card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 18px;
  background: #f4fbff;
}

.card h3 {
  font-size: 24px;
  color: #003b73;
  margin-bottom: 8px;
}

.card p {
  font-size: 17px;
  line-height: 1.4;
}

.card span {
  display: inline-block;
  margin-top: 12px;
  font-size: 36px;
  font-weight: bold;
  color: #000;
}

.contacto {
  margin: 30px 20px;
  text-align: center;
  padding: 30px 20px;
  background: #003b73;
  color: white;
  border-radius: 30px;
}

.contacto h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.whatsapp {
  display: inline-block;
  margin-top: 18px;
  background: #25d366;
  color: white;
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #00bcd4;
  color: white;
  font-weight: bold;
}

@media (max-width: 650px) {
  .hero h1 {
    font-size: 42px;
  }

  .hero h2 {
    font-size: 36px;
  }

  .card {
    flex-direction: column;
    text-align: center;
  }

  .card img {
    width: 190px;
    height: 190px;
  }

  .card span {
    font-size: 34px;
  }
}
